# idea project files
.idea/

# virtual environment files
venv/

# migration files
migrations/

# python bytecode cache files
__pycache__/


# Sublime project files
*.sublime-project
*.sublime-workspace